/* User Interface */
body {
	background-color: #6C7A89;
}
input {
	margin-top: 10px;
}
#ui {
	z-index: 3;
}
/* Output */
#container {
	z-index: 1;
	height: 100%;
	width: 100%;
	padding: 1px;
	margin: 0px;
}
#output {	
	height: 100%;
	width: 100%;
	margin-top: -273px;
	background-color: blue;
	border: 1px dashed green;
	z-index: 2;
}
/* General Fonts */
h1 {
	font-family: 'Raleway'
}
h2 {
	font-family: 'Raleway'
}
p {
	font-family: 'Open Sans' , sans-serif;
}